llama-index == 0.10.9
llama-index-llms-ollama == 0.1.1
llama-index-embeddings-ollama
llama-index-extractors-entity
llama-index-graph-stores-neo4j
llama-index-readers-file
llama-index-readers-web
llama-index-vector-stores-neo4jvector
llama-index-storage-docstore-mongodb
langchain
pymongo
motor
beautifulsoup4
markdownify
python-dotenv
Flask==0.12.1
transformers